.footer {
  background-color: #133D6A;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.footer-section {
  max-width: 250px;
  text-align: left;
}

.footer-section h3 {
  color: #EEB600;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #007bff;
}

.logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.footer-bottom {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.footer-bottom p {
  margin: 0;
}
